{{#if response}}
  <div class="order-container">
    {{#each response}}
      <div class="my-orders">
        <div class="image-container">
          <img src="/images/product-images/{{this.product.image1}}{{this.product._id}}.jpg" alt="" />
        </div>
        <div class="order-details">
          <h1>
            Order Details
          </h1>
          <p>
            Order ID:
            {{this._id}}
          </p>
          <p>
            {{this.product.name}}
          </p>
          <p>
            {{this.product.category}}
          </p>
          <p>
            {{this.product.brand}}
          </p>
          <p>
            Quantity:
            {{this.quantity}}
          </p>
          <p>
            Rs.
            {{this.product.price}}
          </p>
          <p>
            Total:
            {{this.total}}
          </p>
        </div>
        <div class="order-status">
          <h1>
            User Deatils
          </h1>
          <p>
            ID:
            {{this.user._id}}
          </p>
          <p>
            Name:
            {{this.user.name}}
          </p>
          <p>
            Email:
            {{this.user.email}}
          </p>
          {{#isPaid this.paid}}
            <h1>
              Payment Details
            </h1>
            <p>
              Payment Id:
              {{../this.razorpay_payment_id}}
            </p>
            <p>
              Razorpay_Order Id:
              {{../this.razorpay_order_id}}
            </p>
          {{/isPaid}}
        </div>
        <div class="delivery-details">
          <h1>
            Delivery Details
          </h1>
          <p>
            Ordered Date:
            {{this.orderdate}}
          </p>
          <p>
            Payment Method:
            {{this.paymentmethod}}
          </p>
          <p>
            Delivery Date:
            {{this.deliverydate}}
          </p>
          <p>
            Adresss:
            {{this.deliveryDetials.address}}
          </p>
          <p>
            Pin Code / Zip Code:
            {{this.deliveryDetails.pincode}}
          </p>
          <p>
            Mobile No:
            {{this.deliveryDetials.mobile}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="empty">
    <h1>
      No Orders Yet Placed
    </h1>
  </div>
{{/if}}